{% extends 'base.html' %} 
{% block hometitle%}
<div>
  <div>
    <h1 style="margin-left:1em; margin-top:2em;text-decoration:underline; ">About me:</h1>
    <div style="margin-top: 2em; margin-left:2em">
        <h4>Hello World, I'm Agustina Gomez Fernandez</h4>
        <h4>I'm a creative person and I have fun developing. I'm a frontend developer but also enjoy learn new languages how python because I think that is a gret languages and I need learn some backend.</h4>
    </div>
    <div style="margin-top: 2em; margin-left:2em">
        <h5>To contact me write me:</h5>
        <a href = "https://www.linkedin.com/in/agustina-gomez-fernandez/">Linkedin</a>
    </div>
</div>
</div>
{% endblock %}