{% extends 'base.html' %} 
{% block contain %}
<div>
  <div>
    <h1 style="margin-top:2em;text-decoration:underline;color: #595656 ;"  class="text-center">About me:</h1>
    <div style="margin-top: 5em;">
        <h2 class="text-center" style="margin-bottom:2em;color:#595656 ">Hello World, I'm Agustina Gomez Fernandez</h4>
        <h3 class="text-center" style="color:#595656  ;">I'm a creative person and I have fun developing.<br> I'm a frontend developer but also enjoy learning new languages like python because,</br><br>I think that is a great languages and I need to learn more about backend.</br></h3>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 2em;color: #595656 ;">
        <h4 class="text-center" style="color:#595656  ;">To contact me write me:</h5>
        <a class="text-center h5" href = "https://www.linkedin.com/in/agustina-gomez-fernandez/">Linkedin</a>
    </div>
</div>
</div>
{% endblock %}