{% extends 'base.html' %} 
{% block create-products %}
<h1>Crear productos</h1>
{% endblock %}
{% block form-products %}
{%if form%}
<form action="" method="POST">
    {% csrf_token%}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Enviar">
</form>
{% elif new_product %}
<h2 style="color:green; margin-left:33rem">Nuevo producto creado!!</h2>
<div class="card" style="width: 18rem;background-color: aqua;margin-top:4rem;margin-left:35rem">
    <div class="card-body">
        <h5 class="card-title">Nombre: {{new_product.name}}</h5>
        <p class="card-text">Descripcion: {{new_product.description}}</p>
        <p class="card-text">Precio: {{new_product.price}}</p>
    </div>
</div>
{%endif%} 
{% endblock %}